#logo{
    height: 80px;
    width: 90px;
}

.nav{
    float: right;
    margin-right: 10%;
    margin-top:1%;
}
.nav a{
    text-decoration: none;
    color:beige;
    padding: 5px;
    border: 1px solid white;
    margin-right: 5px;
}
.nav a:hover{
    background-color: teal;
    color: black;
}

#top{
    height: 400px;
    width:90%;
    margin-left: 5%;
}

.container{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 5%;
}
.container .card{
    float: left;
    border: 1px solid green;
    background-color: aquamarine;
    width: 20%;
    height: 40%;
    padding: 2%;
    margin-right: 2%;
    margin-top: 2%;
    
}
.card-body{
    text-align: center;
}
    

/* #tvm{
    height: 200 px;
    width: 100 px;
} */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(35, 163, 213);
    color: rgb(30, 9, 188);
    padding: 20px 0;
    text-align: center;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    display: inline;
    margin: 0 15px;
}

.footer-content ul li a {
    text-decoration: none;
    color: white;
}

.footer-content ul li a:hover {
    text-decoration: underline;
    color: blue;
}


